{% extends "layout.html" %}

{% block content %}
  <h3>Search by tag</h3>
  <hr>
  <form method="GET" action="/search/">
    
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Tag(s)</label>
      <div class="col-sm-10">
        <input name="input_tags" type="text" class="form-control"/>
      </div>
    </div>
    
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  
  </form>
  
  <hr>
  <ul class="list-unstyled">
    {% for page in pages %}
        <li><a href="/wiki/{{page.urlTitle}}">{{page.title}}</a></li>
    {% endfor %}
  </ul>
  
{% endblock %}